.pixel-title {
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Press Start 2P', monospace;
  font-size: 4rem;
  font-weight: normal;
  

  background: linear-gradient(
    90deg,
    #e9fbe6 0%,
    #c9f7b3 35%,
    #8aff4a 65%,
    #45ff00 100%
  );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
